color-twitter.basic {
  .twitter-picker {
    box-shadow: none;
    border: none;
  }
  .twitter-body {
    padding: 0;
  }
}

body.dark {
  color-twitter {
    .twitter-body {
      @apply bg-dark-500;
    }

    input,
    .twitter-hash {
      @apply bg-dark-800;
      border-color: var(--dark-700) !important;
    }
  }
}
