.cartella-dialog {
  max-height: 90vh;
  overflow-y: auto;
  .ngneat-dialog-backdrop {
    .ngneat-dialog-content {
      @apply rounded-md;
      max-height: 85vh;
      overflow-y: auto;
      .ngneat-close-dialog {
        @apply text-gray-700;
        @apply hover:text-primary;
      }
    }
  }
}

body.dark {
  .cartella-dialog {
    .ngneat-dialog-content {
      @apply bg-dark-500;
    }

    input[type='text'],
    input[type='email'],
    input[type='url'],
    input[type='password'] {
      @apply dark:bg-dark-700;
    }
  }

  .ngneat-close-dialog svg {
    color: #fff;
  }
}
