.shimmer {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 500px 104px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  &.dark {
    background-image: linear-gradient(
      to right,
      #e6e6e6 0%,
      #e0e0e0 20%,
      #c5c8cc 40%,
      #e6e6e6 100%
    );
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -250px 0;
  }

  100% {
    background-position: 250px 0;
  }
}
