<header class="flex items-center justify-between px-4 bg-white dark:bg-dark-900">
  <div class="flex items-center">
    <button class="flex p-1 mr-4 rounded-full md:hidden default-ring" (click)="toggleMenu()">
      <rmx-icon name="menu-4-line" class="icon-2xl dark:text-gray-50"></rmx-icon>
    </button>
    <img src="../../../../assets/images/cartella.svg" alt="Cartella" class="w-10 h-10" width="2.5rem" height="2.5rem">
    <p class="hidden ml-2 text-lg font-bold text-gray-700 dark:text-white lg:block">CARTELLA</p>
  </div>
  <div class="flex items-center h-full space-x-8">
    <nav class="relative items-center h-full text-gray-500 menu bg-dark-700 md:bg-transparent md:flex"
         [class.menu--open]="(isMenuOpen$ | async)">
      <ng-container *ngIf="(isMenuOpen$ | async)">
        <header class="left-0 flex items-center justify-between w-full px-6 top-2">
          <img src="../../../../assets/images/cartella.svg" alt="Cartella" class="w-8 h-8" width="2rem" height="2rem">
          <button (click)="closeMenu()">
            <rmx-icon name="close-line" class="icon-xl"></rmx-icon>
          </button>
        </header>
      </ng-container>
      <div class="menu__container">
        <a class=" menu__item" routerLink="/" routerLinkActive="active text-primary dark:text-white"
           [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">
          <div class="mr-2 menu__item-icon">
            <rmx-icon name="home-line" class="icon-md"></rmx-icon>
          </div>
          <span>
            Home
          </span>
        </a>
        <a class=" menu__item" routerLink="/packages" routerLinkActive="active text-primary dark:text-white"
           (click)="closeMenu()">
          <div class="mr-2 menu__item-icon">
            <rmx-icon name="archive-line" class="icon-md"></rmx-icon>
          </div>
          <span>Packages</span>
        </a>
        <a class=" menu__item" routerLink="/bookmarks" routerLinkActive="active text-primary dark:text-white"
           (click)="closeMenu()">
          <div class="mr-2 menu__item-icon">
            <rmx-icon name="bookmark-line" class="icon-md"></rmx-icon>
          </div>
          <span>Bookmarks</span>
        </a>
        <a class="menu__item" routerLink="/snippets" routerLinkActive="active text-primary dark:text-white"
           (click)="closeMenu()">
          <div class="mr-2 menu__item-icon">
            <rmx-icon name="code-s-slash-line" class="icon-md"></rmx-icon>
          </div>
          <span>Snippets</span>
        </a>
      </div>
    </nav>
    <div class="flex items-center" *ngIf="user$ | async as user">
      <div class="relative dropdown">
        <button class="flex items-center btn btn-secondary dropdown-toggle focus:outline-none" type="button"
                [tippy]="userDropdown" placement="bottom-start" variation="menu" [offset]="[-10, 10]">
          <ng-container *ngIf="user?.image;else userPlaceholder">
            <img [src]="user?.image" [alt]="user?.firstname" class="w-10 h-10 rounded-full" width="2.5rem"
                 height="2.5rem">
          </ng-container>
          <ng-template #userPlaceholder>
            <img src="../../../../assets/images/user.svg" [alt]="user?.firstname" class="w-10 h-10 rounded-full"
                 height="40px" width="40px">
          </ng-template>
          <div class="flex-col items-end hidden ml-2 md:flex">
            <p class="text-sm font-medium text-gray-500 dark:text-white">{{user?.firstname}}</p>
            <div class="grid items-center px-2 mt-1 text-white bg-green-700 rounded-full"
                 style="padding-top: 2px; padding-bottom: 2px;">
              <p class="" style="font-size: 10px;line-height: 10px;">Free</p>
            </div>
          </div>
          <rmx-icon name="arrow-down-s-line" class="ml-2 text-gray-500 icon-sm"></rmx-icon>
        </button>
      </div>
    </div>
  </div>
</header>

<ng-template #userDropdown let-hide>
  <div class="flex flex-col w-48">
    <div class="dropdown-item" routerLink="/profile" (click)="hide()">Preferences</div>
    <div class="dropdown-item" (click)="toggleTheme()">{{isDarkMode ? 'Light':'Dark'}} Mode</div>
    <div class="text-red-600 dropdown-item" (click)="logout();hide()">Logout</div>
  </div>
</ng-template>