<header class="flex items-center justify-between px-4 bg-white">
  <div class="flex items-center">
    <img src="../../../../assets/images/cartella.svg" alt="Cartella" class="w-12 h-12" width="3rem" height="3rem">
    <p class="ml-2 text-lg font-bold text-gray-700">CARTELLA</p>
  </div>
  <div class="flex items-center h-full">
    <nav class="flex items-center h-full mr-10 text-gray-500">
      <a class="flex items-center h-full mr-8" routerLink="/" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a class="flex items-center h-full mr-8 " routerLink="/packages" routerLinkActive="active">Packages</a>
      <a class="flex items-center h-full mr-8" routerLink="/bookmarks" routerLinkActive="active">Bookmarks</a>
      <a class="flex items-center h-full" routerLink="/snippets" routerLinkActive="active">Snippets</a>
    </nav>
    <div>

    </div>
    <div class="flex items-center" *ngIf="user$ | async as user">
      <div class="relative dropdown">
        <button class="flex items-center btn btn-secondary dropdown-toggle focus:outline-none" type="button"
                [tippy]="userDropdown" placement="bottom-start" variation="menu" [offset]="[-10, 10]">
          <ng-container *ngIf="user?.picture;else userPlaceholder">
            <img [src]="user?.picture" [alt]="user?.firstname" class="w-10 h-10 rounded-full" width="2.5rem"
                 height="2.5rem">
          </ng-container>
          <ng-template #userPlaceholder>
            <img src="../../../../assets/images/user.svg" [alt]="user?.firstname" class="w-10 h-10 rounded-full"
                 height="40px" width="40px">
          </ng-template>
          <div class="flex flex-col items-end">
            <p class="mx-2 text-sm font-medium text-gray-500">{{user?.firstname}}</p>
            <div class="grid items-center px-2 mt-1 text-white bg-green-700 rounded-full"
                 style="padding-top: 2px; padding-bottom: 2px;">
              <p class="" style="font-size: 10px;line-height: 10px;">Free</p>
            </div>
          </div>
          <rmx-icon name="arrow-down-s-line" class="text-gray-500 icon-sm"></rmx-icon>
        </button>
      </div>
    </div>
  </div>
</header>

<ng-template #userDropdown let-hide>
  <div class="flex flex-col w-48">
    <div class="dropdown-item" routerLink="/profile" (click)="hide()">Preferences</div>
    <div class="dropdown-item">What's New</div>
    <div class="text-red-600 dropdown-item" (click)="logout();hide()">Logout</div>
  </div>
</ng-template>