<h1 class="text-xl font-semibold text-gray-800 dark:text-white">Top Items</h1>
<ng-container *ngIf="top$ | async as topItems">
  <div class="relative mt-4 home__recent">
    <swiper [pagination]="swiperPagination" [breakpoints]="swiperBreakPoints" (swiper)="onSwiper($event)"
            (init)="onAfterInit($event)" (breakpoint)="onBreakpoint($event)">
      <ng-container *ngFor="let item of topItems;index as i">
        <ng-template swiperSlide>
          <app-home-item-card [item]="item | homeCardDataFormat" [index]="i" (clicked)="handleClick($event)">
            {{item?.views}} Views
          </app-home-item-card>
        </ng-template>
      </ng-container>
    </swiper>
    <div *ngIf="showNavigation" class="flex items-center justify-start space-x-3"
         [attr.data-breakpoint]="swiper?.currentBreakpoint | json">
      <button primaryButton size="sm" class="rounded-full" (click)="prevSlide()" [disabled]="swiper?.isBeginning">
        <rmx-icon name="arrow-left-line" class="text-white icon-lg"></rmx-icon>
      </button>
      <button primaryButton size="sm" class="rounded-full" (click)="nextSlide()" [disabled]="swiper?.isEnd">
        <rmx-icon name="arrow-right-line" class="text-white icon-lg"></rmx-icon>
      </button>
    </div>
  </div>
</ng-container>