<header [class.rounded-tl-lg]="isLargeScreen">
  <header class="flex items-center justify-between p-4 mb-2 pb -1">
    <div>
      <p class="text-xl font-bold text-gray-700 dark:text-white">Snippets</p>
      <p class="text-sm text-gray-500 dark:text-gray-50">Manage your snippets</p>
    </div>
    <div>
      <button primaryButton [tippy]="createSnippetSelector" placement="top-start" variation="menu"
              [disabled]="['all','starred'].includes((activeFolder$ | async)?.id)" aria-label="Create new snippet">
        <rmx-icon name="add-line"></rmx-icon>
      </button>
    </div>
  </header>
  <div class="relative hidden">
    <div class="absolute grid items-center h-full left-2">
      <rmx-icon name="search-line" class="icon-sm"></rmx-icon>
    </div>
    <input class="w-full py-2 pl-8 bg-transparent focus:outline-none" type="text" name="search" id="search"
           placeholder="Search snippets" aria-label="Search snippets" #searchRef>
  </div>
  <div></div>
</header>
<section class="relative overflow-y-auto snippets-sidebar__list">
  <ng-container *ngIf="!isLoading || (snippetFetched$ | async); else shimmerLoading">
    <ul *ngIf="(snippetsToShow$ | async)?.length > 0;else noSnippets">
      <ng-container *ngFor="let snippet of (snippetsToShow$ | async);trackBy:trackBy">
        <li class="snippets-sidebar__list-item focus:bg-primary-10 focus-within:bg-primary-10"
            (click)="selectSnippet(snippet)" [class.active]="(activeSnippet$ | async)?.id === snippet?.id"
            [tippy]="contextMenu" [data]="snippet" variation="contextMenu" appHovered #snippetListItem>
          <header class="flex items-center justify-between mb-1">
            <p class="font-medium line-clamp-1 dark:text-white">{{snippet?.name}}</p>
            <button (click)="toggleFavorite(snippet);$event.stopPropagation()"
                    class="transition-opacity duration-75 rounded-full opacity-0 favorite-button default-ring">
              <rmx-icon [name]="snippet?.favorite ? 'star-fill':'star-line'" class="text-gray-400 icon-md"
                        [class.text-primary]="snippet?.favorite">
              </rmx-icon>
            </button>
          </header>
          <footer class="flex items-center justify-between">
            <div class="flex items-center">
              <img class="w-4 h-4 mr-1 rounded-md" [src]="snippet?.technology?.icon" [alt]="snippet?.technology?.name"
                   height="16px" width="16px">
              <p class="text-xs text-gray-500 dark:text-gray-50">{{snippet?.technology?.name}}</p>
            </div>
            <p class="text-xs text-gray-400">{{snippet?.updatedAt | timeAgo}}</p>
          </footer>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</section>

<!-- Dropdown asks for which technology will the snippet be -->
<ng-template #createSnippetSelector let-hide>
  <div class="flex flex-col w-44">
    <ng-container *ngFor="let technology of technologies$ | async">
      <div class="flex space-x-2 dropdown-item" (click)="createNewSnippet(technology?.id);hide()">
        <img [src]="technology?.icon" [alt]="technology?.name" height="20px" width="20px" class="rounded-lg">
        <p class="text-sm">{{technology?.name}}</p>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #noSnippets>
  <div class="grid mt-10 place-items-center">
    <img src="../../../../../../assets/images/add-file.svg" alt="Add Snippet" height="150px" width="150px">
    <p class="mt-6 text-sm text-gray-400">No Snippets found</p>
  </div>
</ng-template>

<ng-template #shimmerLoading>
  <ul>
    <li class="flex flex-col justify-center px-3 py-2" [style.height.px]="58">
      <div class="w-full h-6 mb-1 shimmer"></div>
      <div class="grid grid-cols-6">
        <div class="flex items-center col-span-4 space-x-2">
          <span class="w-4 h-4 rounded-md shimmer"></span>
          <span class="w-16 h-3 shimmer"></span>
        </div>
        <div class="col-span-2">
          <span class="w-full h-3 shimmer"></span>
        </div>
      </div>
    </li>
  </ul>
</ng-template>


<ng-template #contextMenu let-hide let-data>
  <div class="flex flex-col w-36">
    <ng-container *feature="'modules.bookmarks.sharing'">
      <div class="dropdown-item" (click)="{};hide()">
        <rmx-icon name="share-circle-line" class="icon-sm"></rmx-icon>
        <p>Share</p>
      </div>
    </ng-container>
    <div class="dropdown-item" (click)="{};hide()">
      <rmx-icon name="folders-line" class="icon-sm"></rmx-icon>
      <p>Move to</p>
    </div>
    <div class="dropdown-item" (click)="{};hide()">
      <rmx-icon name="clipboard-line" class="icon-sm"></rmx-icon>
      <p>Copy Link</p>
    </div>
    <div class="dropdown-item" (click)="{};hide()">
      <rmx-icon name="pencil-line" class="icon-sm"></rmx-icon>
      <p>Edit</p>
    </div>
    <div class="text-red-600 dark:text-red-500 dropdown-item" (click)="{};hide()">
      <rmx-icon name="delete-bin-2-line" class="icon-sm"></rmx-icon>
      <p>Delete</p>
    </div>
  </div>
</ng-template>