:root {
  --primary: #3d29bd;
  --primary-dark: #3423a8;
  --primary-10: #3d29bd10;
  --dark-50: #644dfa;
  --dark-500: #2d2f40;
  --dark-700: #272a40;
  --dark-800: #1e202e;
  --dark-900: #1a1b26;
}
