:root {
  --primary: #26828b;
  --primary-dark: #1b5e64;
  --primary-10: #26828b10;
  --dark-50: #32b1bd;
  --dark-500: #2d2f40;
  --dark-700: #272a40;
  --dark-800: #1e202e;
  --dark-900: #1a1b26;
}
