<div class="profile-sidebar">
  <ul>
    <li class="flex items-center mb-3 profile-sidebar__item" routerLink="/profile" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
      <rmx-icon name="user-3-line" class="mr-2 icon-lg"></rmx-icon>
      <p>General</p>
    </li>
    <li class="flex items-center profile-sidebar__item" routerLink="/profile/tags" routerLinkActive="active">
      <rmx-icon name="hashtag" class="mr-2 icon-lg"></rmx-icon>
      <p>Tags</p>
    </li>
  </ul>
</div>
