<div class="w-full py-4 explorer-sidebar">
  <section>
    <header class="flex items-center justify-between px-4 mb-4 text-gray-500 dark:text-gray-50">
      <h4 class="text-sm">Library</h4>
      <button class="block md:hidden" (click)="closeMenu()">
        <rmx-icon name="close-line" class="icon-xl"></rmx-icon>
      </button>
    </header>
    <ul>
      <li class="flex items-center mb-3 explorer-sidebar__item"
          [ngClass]="{'text-primary dark:text-dark-50 bg-primary-10 dark:bg-dark-800':activeFolder?.id==='all' }"
          (click)="handleSelectFolder({id: 'all'})">
        <rmx-icon name="folders-line" class="mr-2 icon-lg"></rmx-icon>
        <p>All {{type | titlecase}}</p>
      </li>
      <li class="flex items-center explorer-sidebar__item"
          [ngClass]="{'text-primary dark:text-dark-50 bg-primary-10 dark:bg-dark-800':activeFolder?.id === 'starred'}"
          (click)="handleSelectFolder({id:'starred'})">
        <rmx-icon name="star-line" class="mr-2 icon-lg"></rmx-icon>
        <p>Starred</p>
      </li>
    </ul>
  </section>
  <section class="mt-6">
    <header class="flex items-center justify-between px-4 mb-4 text-gray-500 dark:text-gray-50">
      <h4 class="text-sm">Folders</h4>
      <button (click)="handleCreateFolder()" class="rounded-full default-ring hover:text-primary"
              tippy="Create new folder" aria-label="Create New Folder">
        <rmx-icon name="add-circle-line" class="icon-sm"></rmx-icon>
      </button>
    </header>
    <ul *ngIf="!isLoading || isFetched; else loading">
      <ng-container *ngFor="let folder of folders;trackBy:trackBy">
        <li class="explorer-sidebar__item user-item" (click)="handleSelectFolder(folder)"
            [ngClass]="{'text-primary dark:text-dark-50 bg-primary-10 dark:bg-dark-800':activeFolder?.id === folder?.id}"
            [tippy]="contextMenu" [data]="folder" variation="contextMenu">
          <span class="line-clamp-2 ">
            {{folder?.name}}
          </span>
        </li>
      </ng-container>
    </ul>
  </section>
</div>


<ng-template #loading>
  <ul>
    <li class="explorer-sidebar__item user-item" [style.paddingRight.rem]="1.2" [style.minHeight.px]="48">
      <span class="w-full h-5 shimmer dark"></span>
    </li>
    <li class="explorer-sidebar__item user-item" [style.paddingRight.rem]="1.2" [style.minHeight.px]="48">
      <span class="w-full h-5 shimmer dark"></span>
    </li>
  </ul>
</ng-template>


<ng-template #contextMenu let-hide let-folder="data">
  <div class="flex flex-col w-36">
    <div class="dropdown-item" (click)="handleEditFolder(folder);hide()">
      <rmx-icon name="pencil-line" class="icon-sm"></rmx-icon>
      <p>Edit</p>
    </div>
    <div class="text-red-600 dark:text-red-500 dropdown-item" (click)="handleDeleteFolder(folder);hide()">
      <rmx-icon name="delete-bin-2-line" class="icon-sm"></rmx-icon>
      <p>Delete</p>
    </div>
  </div>
</ng-template>