<div class="w-full py-4 explorer-sidebar">
  <section>
    <header class="flex items-center justify-between px-4 mb-4 text-gray-500">
      <h4 class="text-sm">Library</h4>
      <button (click)="closeMenu()">
        <rmx-icon name="close-line" class="icon-xl"></rmx-icon>
      </button>
    </header>
    <ul>
      <li class="flex items-center mb-3 explorer-sidebar__item" [class.active]="activeFolder?.id === 'all'"
          (click)="handleSelectFolder({id: 'all'})">
        <rmx-icon name="folders-line" class="mr-2 icon-lg"></rmx-icon>
        <p>All {{type | titlecase}}</p>
      </li>
      <li class="flex items-center explorer-sidebar__item" [class.active]="activeFolder?.id === 'starred'"
          (click)="handleSelectFolder({id:'starred'})">
        <rmx-icon name="star-line" class="mr-2 icon-lg"></rmx-icon>
        <p>Starred</p>
      </li>
    </ul>
  </section>
  <section class="mt-6">
    <header class="flex items-center justify-between px-4 mb-4 text-gray-500">
      <h4 class="text-sm">Folders</h4>
      <button (click)="handleCreateFolder()" class="rounded-full default-ring hover:text-primary"
              tippy="Create new folder" aria-label="Create New Folder">
        <rmx-icon name="add-circle-line" class="icon-sm"></rmx-icon>
      </button>
    </header>
    <ul *ngIf="!isLoading || isFetched; else loading">
      <ng-container *ngFor="let folder of folders;trackBy:trackBy">
        <li class="explorer-sidebar__item user-item" (click)="handleSelectFolder(folder)"
            [class.active]="activeFolder?.id === folder?.id" appHovered>
          <span class="line-clamp-2">
            {{folder?.name}}
          </span>
          <button (click)="handleEditFolder(folder);$event.stopPropagation()"
                  class="p-1 text-gray-500 transition-opacity duration-75 rounded-full opacity-100 md:opacity-0 edit-button default-ring hover:bg-gray-300 hover:text-primary"
                  tippy="Edit folder" aria-label="Edit Folder">
            <rmx-icon name="pencil-line" class="icon-sm"></rmx-icon>
          </button>
        </li>
      </ng-container>
    </ul>
  </section>
</div>


<ng-template #loading>
  <ul>
    <li class="explorer-sidebar__item user-item" [style.paddingRight.rem]="1.2" [style.minHeight.px]="48">
      <span class="w-full h-5 shimmer dark"></span>
    </li>
    <li class="explorer-sidebar__item user-item" [style.paddingRight.rem]="1.2" [style.minHeight.px]="48">
      <span class="w-full h-5 shimmer dark"></span>
    </li>
  </ul>
</ng-template>