.packages {
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 200px 1fr;
  &__main {
    box-shadow: 0 5.5px 10px rgb(0 0 0 / 12%), 0 100px 80px rgb(0 0 0 / 10%);
  }
}
