<header class="flex items-center justify-between mb-8">
  <div>
    <p class="text-xl font-bold text-gray-700">Configure Custom Tags</p>
    <p class="text-sm text-gray-500">Manage your tags</p>
  </div>
  <div>
    <button primaryButton (click)="handleCreateTag()">Add New</button>
  </div>
</header>
<section>
  <ul class="flex flex-wrap">
    <ng-container *ngFor="let tag of (tags$ | async); trackBy: trackBy">
      <li class="m-2 shadow-md tag-item hover:shadow-lg" appHovered>
        <div class="flex items-center space-x-2">
          <div class="w-4 h-4 rounded-full" [style.backgroundColor]="tag?.color"></div>
          <p>{{tag?.name}}</p>
        </div>
        <div class="flex items-center space-x-2 opacity-0 tag-item__buttons">
          <button class="rounded-full default-ring focus:ring-1 hover:bg-gray-100" (click)="editTag(tag)">
            <rmx-icon name="pencil-line" class="icon-sm"></rmx-icon>
          </button>
          <!-- <button class="rounded-full default-ring focus:ring-1 hover:bg-gray-100" (click)="deleteTag(tag?.id)">
            <rmx-icon name="close-line" class="text-red-600 icon-md"></rmx-icon>
          </button> -->
        </div>
      </li>
    </ng-container>
  </ul>
</section>