<div class="p-4">
  <header class="mb-4">
    <p class="font-semibold">
      Export as Image
    </p>
  </header>
  <section #codeContainerRef [class]="ref?.data?.theme" class="screenshot-container overflow-y-auto rounded-md">
    <div class="py-3 pl-2 pr-4 relative" style="max-height: 70vh;">
      <header class="screenshot-header flex items-center justify-between mb-2 pl-2 text-sm">
        <p>{{ref?.data?.name}}</p>
        <div class="flex items-center">
          <img [src]="ref?.data?.language?.icon" class="rounded-md" style="height: 20px;">
          <p class="ml-1">{{ref?.data?.language?.name}}</p>
        </div>
      </header>
      <textarea #editor class="w-full h-full"></textarea>
      <footer class="screenshot-footer text-xs text-right pb-2">
        <p>cartella.sreyaj.dev</p>
      </footer>
    </div>
  </section>
  <footer class="flex justify-end mt-6">
    <button dialogClose secondaryButton class="mr-2">Cancel</button>
    <button (click)="exportCode()" primaryButton>Download</button>
  </footer>
</div>
