<div class="p-4">
  <header class="mb-4">
    <p class="font-semibold dark:text-white" *ngIf="(isShareListView$ | async);else defaultTitle">
      Shared with
      {{ref?.data?.item?.share?.length}} {{ref?.data?.item?.share?.length| i18nPlural:
      usersPluralMap}}
    </p>
    <ng-template #defaultTitle>
      <p class="font-semibold dark:text-white">
        Share {{ref?.data?.entity | titlecase}}
      </p>
    </ng-template>
  </header>
  <form class="w-100" (ngSubmit)="shareOrUpdate()" (keyup.enter)="$event.preventDefault()">
    <section [hidden]="(isShareListView$ | async)">
      <div class="grid gap-2" style="grid-template-columns: 7fr 3fr;">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" autocomplete="email" [formControl]="emailInputControl"
                 #emailInputRef>
        </div>
        <div class="form-group">
          <label for="access">Access</label>
          <ng-select id="access" [formControl]="accessInputControl" [clearable]="false" [searchable]="false"
                     class="w-full" aria-label="Choose theme">
            <ng-option *ngFor="let access of accessLevels" [value]="access">
              {{access | titlecase}}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <ng-container *ngIf="shareTo?.length > 0">
        <h4 class="text-base font-semibold text-gray-700 dark:text-white">To be shared with</h4>
        <ul class="overflow-y-auto" style="max-height: 206px;">
          <ng-container *ngTemplateOutlet="shareList; context:{$implicit: shareTo, remove: removeFromToBeSharedList}">
          </ng-container>
        </ul>
      </ng-container>
      <div class="mt-2">
        <button primaryButton type="button" [disabled]="emailInputControl.invalid" (click)="addToList();">Add
          User</button>
      </div>
    </section>
    <section class="my-4" *ngIf="(isShareListView$ | async)">
      <ng-container *ngIf="sharedWith?.length > 0;else notShared">
        <ul class="overflow-y-auto" style="max-height: 206px;">
          <ng-container *ngTemplateOutlet="shareList; context:{$implicit: sharedWith, remove: removeFromList}">
          </ng-container>
        </ul>
      </ng-container>
      <ng-template #notShared>
        <p class="dark:text-white">Not shared with anyone.</p>
      </ng-template>
    </section>
    <footer class="flex items-center justify-between mt-6">
      <button *ngIf="(isShareListView$ | async);else viewShared"
              class="flex items-center space-x-1 text-sm dark:text-white" type="button"
              (click)="isShareListView$.next(false)">
        <rmx-icon class="icon-md" name="arrow-left-line"></rmx-icon>
        <p>
          Back to Share
        </p>
      </button>
      <ng-template #viewShared>
        <button class="flex items-center space-x-1 text-sm" type="button" (click)="isShareListView$.next(true)">
          <rmx-icon class="icon-md dark:text-white" name="eye-line"></rmx-icon>
          <p class="dark:text-white">
            Shared with
            {{sharedWith?.length}} {{sharedWith?.length| i18nPlural:
            usersPluralMap}}
          </p>
        </button>
      </ng-template>
      <div class="flex items-center">
        <button dialogClose secondaryButton class="mr-2" type="button">Cancel</button>
        <button primaryButton [loading]="saving$ | async"
                [disabled]="((isShareListView$ | async) === false && shareTo?.length === 0) || ((isShareListView$ | async) && sharedWith.length === 0)"
                type="submit">{{(isShareListView$ | async) ? 'Update' : 'Share'}}</button>
      </div>
    </footer>
  </form>
</div>


<ng-template #shareList let-list>
  <ng-container *ngFor="let user of list; index as i">
    <li class="flex items-center mr-2 border-t-0 border-l-0 border-r-0 border-gray-200 border-b-1 dark:border-gray-400"
        [class.border]="i !== list.length - 1">
      <div class="flex items-center justify-between flex-1 my-2">
        <div class="flex items-center">
          <p class="dark:text-white">{{user.email}}</p>
        </div>
        <div class="flex items-center mr-2">
          <ng-select [(ngModel)]="user.access" [ngModelOptions]="{standalone: true}" [clearable]="false"
                     [searchable]="false" class="w-full" aria-label="Choose theme">
            <ng-option *ngFor="let access of accessLevels" [value]="access">
              {{access | titlecase}}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <button class="text-red-600 rounded-full default-ring" aria-label="Remove user" type="button"
              (click)="removeFromList(user)">
        <rmx-icon name="close-line"></rmx-icon>
      </button>
    </li>
  </ng-container>
</ng-template>