@import 'bottom-sheet';
:host {
  height: calc(100vh - var(--header-height));
  padding-top: 2px;
  display: grid;
  @apply bg-gray-100;
  @apply dark:bg-dark-800;
  grid-template-columns: 200px 1fr;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
aside {
  @apply relative;
}
@media screen and (max-width: 1024px) {
  aside {
    @include bottom-sheet();
  }
}
main {
  @apply rounded-tl-md;
  box-shadow: 0 5.5px 10px rgb(0 0 0 / 12%), 0 100px 80px rgb(0 0 0 / 10%);
}

.overlay {
  @include bottoms-sheet-overlay;
}
