<header class="flex items-center justify-between mb-4">
  <div>
    <p class="text-xl font-bold text-gray-700 dark:text-white">Hi {{(user$ | async)?.firstname}}</p>
    <p class="text-xs text-gray-500 dark:text-gray-50">Manage your profile details</p>
  </div>
</header>
<section class="flex justify-start">
  <form class="w-full max-w-xl mt-6 " [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div class="flex items-center justify-start mb-8">
      <img class="rounded-full w-36 h-3w-36" [src]="(user$ | async)?.image || '../../../../assets/images/user.svg'"
           default="../../../../assets/images/user.svg" [alt]="userForm.get('firstname')?.value" width="144px"
           height="144px">
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <section>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" formControlName="firstname" autocomplete="given-name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" formControlName="lastname" autocomplete="family-name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" formControlName="email">
        </div>
      </section>
      <section>
        <div class="form-group">
          <label for="github">Github</label>
          <input type="url" name="github" id="github" formControlName="github" autocomplete="url">
        </div>
        <div class="form-group">
          <label for="twitter">Twitter</label>
          <input type="url" name="twitter" id="twitter" formControlName="twitter" autocomplete="url">
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input type="url" name="website" id="website" formControlName="website" autocomplete="url">
        </div>
      </section>
    </div>
    <footer class="flex justify-start">
      <button primaryButton [disabled]="!userForm.dirty || userForm.invalid">Save
        Changes</button>
    </footer>
  </form>
</section>

<section class="my-8">
  <header class="mb-6">
    <h4 class="text-lg font-semibold text-gray-800 ">Manage Social Logins</h4>
    <p class="text-xs text-gray-500">Enable/disable social login methods</p>
  </header>
  <div class="">
    <div class="flex items-center mb-6 space-x-4">
      <div class="flex items-center justify-center">
        <img src="../../../assets/images/google.svg" alt="Sign In with Google" style="height: 25px;">
        <span class="ml-2 text-xs font-semibold">
          Log in with Google
        </span>
      </div>
      <div class="relative w-8 h-4 transition duration-200 ease-linear rounded-full"
           [ngClass]="loginWithGoogle.value ? 'bg-primary' : 'bg-gray-300'">
        <label for="loginWithGoogle"
               class="absolute left-0 w-4 h-4 mb-2 transition duration-100 ease-linear transform bg-white border-2 rounded-full cursor-pointer"
               [ngClass]="[loginWithGoogle.value ? 'translate-x-full border-primary' : 'translate-x-0 border-gray-300']"></label>
        <input type="checkbox" id="loginWithGoogle" name="loginWithGoogle" [formControl]="loginWithGoogle"
               class="w-full h-full appearance-none cursor-pointer active:outline-none focus:outline-none" />
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <div class="flex items-center justify-center">
        <img src="../../../assets/images/github.svg" alt="Sign In with Github" style="height: 25px;">
        <span class="ml-2 text-xs font-semibold">
          Log in with Github
        </span>
      </div>
      <div class="relative w-8 h-4 transition duration-200 ease-linear rounded-full"
           [ngClass]="loginWithGithub.value ? 'bg-primary' : 'bg-gray-300'">
        <label for="loginWithGithub"
               class="absolute left-0 w-4 h-4 mb-2 transition duration-100 ease-linear transform bg-white border-2 rounded-full cursor-pointer"
               [ngClass]="[loginWithGithub.value ? 'translate-x-full border-primary' : 'translate-x-0 border-gray-300']"></label>
        <input type="checkbox" id="loginWithGithub" name="loginWithGithub" [formControl]="loginWithGithub"
               class="w-full h-full appearance-none cursor-pointer active:outline-none focus:outline-none" />
      </div>
    </div>
  </div>
</section>