.explorer-sidebar {
  &__item {
    @apply pl-4;
    @apply pr-2;
    @apply py-3;
    cursor: pointer;
    position: relative;
    &.user-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &.active {
      &::before {
        @apply bg-primary;
        @apply bg-dark-500;
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    &.hovered {
      .edit-button {
        opacity: 1;
      }
    }
  }
}
