<div class="p-2 bg-white rounded-md shadow-md cursor-pointer dark:bg-dark-500 item-card hover:shadow-xl" appHovered
     (click)="handleClick(item)">
  <header class="flex items-center justify-between mb-1">
    <p class="-mt-1 text-xs text-gray-400 dark:text-gray-100">{{item?.type | titlecase}}</p>
    <ng-container *ngIf="index < 2">
      <rmx-icon name="fire-fill" class="text-green-500 icon-md" tippy="Hot"></rmx-icon>
    </ng-container>
  </header>

  <div class="text-sm text-left item-label">
    <p class="mb-1 font-medium line-clamp-1 dark:text-white">{{item?.label}}</p>
    <ng-container *ngIf="item?.type === 'SNIPPET'">
      <p class="text-xs text-gray-500 dark:text-gray-50 line-clamp-1">{{item?.data?.technology?.name}}</p>
    </ng-container>
    <ng-container *ngIf="item?.type !== 'SNIPPET'">
      <p class="text-xs text-gray-500 dark:text-gray-100 line-clamp-1">{{item?.description}}</p>
    </ng-container>
  </div>
  <footer class="mt-4">
    <p class="text-xs text-gray-400">
      <ng-content></ng-content>
    </p>
  </footer>
</div>