<div class="p-4">
  <header class="mb-4">
    <p class="font-semibold dark:text-white">
      {{ref?.data ? 'Update Bookmark':'Create New Bookmark'}}
    </p>
  </header>
  <form class="w-100">
    <div class="form-group">
      <label for="url">Bookmark URL</label>
      <input type="url" name="url" id="url" autocomplete="off" [formControl]="bookmarkFormControls.url" #bookmarkURLRef
             [disabled]="(isLoading$ | async)">
      <p class="absolute bottom-0 text-xs text-red-500"
         *ngIf="bookmarkFormControls.url.touched && bookmarkFormControls.url.errors ">
        Please enter a valid URL</p>
    </div>
    <section *ngIf="(metaData$ | async) as meta">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" autocomplete="off" [formControl]="bookmarkFormControls.name"
               [disabled]="isLoading$ | async">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="4"
                  [formControl]="bookmarkFormControls.description"></textarea>
      </div>
      <div class="w-1/2 form-group">
        <label for="site">Site</label>
        <input type="text" name="site" id="site" autocomplete="off" [formControl]="bookmarkFormControls.site">
      </div>
    </section>
  </form>
  <footer class="flex items-center mt-6" [ngClass]="ref?.data?.type === 'CREATE' ? 'justify-between' : 'justify-end'">
    <ng-container *ngIf="ref?.data?.type === 'CREATE'">
      <button class="mr-2 bg-none" (click)="reset()" [disabled]="bookmarkFormControls.url?.value?.length === 0">
        <rmx-icon name="restart-line" class="icon-lg"></rmx-icon>
      </button>
    </ng-container>
    <div class="flex items-center space-x-2">
      <button dialogClose secondaryButton class="mr-2">Cancel</button>
      <button primaryButton [loading]="isLoading$ | async"
              [disabled]="bookmarkFormControls.url.invalid || (isLoading$ | async)" (click)="fetchOrAdd(meta)">
        {{(metaData$ | async) ? (ref.data.type === 'CREATE' ? 'Save' : 'Update') : 'Fetch'}}
      </button>

    </div>
  </footer>
</div>