@import 'bottom-sheet';

.bookmarks {
  height: calc(100vh - var(--header-height));
  padding-top: 2px;
  display: grid;
  grid-template-columns: 200px 1fr;
  &__main {
    @apply rounded-tl-md;
    @apply bg-white;
    box-shadow: 0 5.5px 10px rgb(0 0 0 / 12%), 0 100px 80px rgb(0 0 0 / 10%);
  }

  aside {
    @apply relative;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    aside {
      @include bottom-sheet();
    }
  }
}

.overlay {
  @include bottoms-sheet-overlay;
}
