<div class="pt-4">
  <ng-container>
    <section class="container flex flex-wrap items-center mt-8">
      <div class="flex-1 p-2 xs:flex-none" [style.minWidth.px]="200">
        <app-stats-card label="Packages" [value]="(counts$ | async)?.items?.packages"
                        [isLoading]="countLoading$ | async" class="w-100">
          <rmx-icon name="archive-line" class="icon-lg"></rmx-icon>
        </app-stats-card>
      </div>
      <div class="flex-1 p-2 xs:flex-none" [style.minWidth.px]="200">
        <app-stats-card label="Bookmarks" [value]="(counts$ | async)?.items?.bookmarks"
                        [isLoading]="countLoading$ | async" class="w-100">
          <rmx-icon name="bookmark-line" class="icon-lg"></rmx-icon>
        </app-stats-card>
      </div>
      <div class="flex-1 p-2 xs:flex-none" [style.minWidth.px]="200">
        <app-stats-card label="Snippets" [value]="(counts$ | async)?.items?.snippets"
                        [isLoading]="countLoading$ | async" class="w-100">
          <rmx-icon name="code-s-slash-line" class="icon-lg"></rmx-icon>
        </app-stats-card>
      </div>
    </section>
  </ng-container>
  <section class="container mt-8">
    <app-home-top-items></app-home-top-items>
    <div class="mt-10"></div>
    <app-home-most-recently-added></app-home-most-recently-added>
  </section>
</div>